<div class="pageFooter row pt-5 pb-4 ml-0 mr-0">
  <div class="col-md-4">
    <div class="pageFooter-content mb-4">
        <i class="fas fa-map-marker-alt w-100" aria-hidden="true"></i>
        <a href="http://maps.google.com/maps?q=24686+Old+Church+Road+Red+Wing+MN+55066" class="text-white" target="_blank">
            <address class="w-100 mb-0">
              24686 Old Church Road <br>
              Red Wing, MN 55066
            </address>
        </a>
    </div>
    <div class="pageFooter-content mb-4">
        <i class="fas fa-phone w-100" aria-hidden="true"></i>
        <a href="tel:651-388-4577" class="text-white">
            (651) 388-4577
        </a>
        <br>
        <a href="tel:651-380-6585" class="text-white">
            (651) 380-6585
        </a>
    </div>
    <div class="pageFooter-content mb-4">
        <i class="fas fa-envelope w-100" aria-hidden="true"></i>
        <a href="mailto:immanuellcms@yahoo.com" class="text-white">
            immanuellcms@yahoo.com
        </a>
    </div>

  </div>
  <div class="col-md-4">
    <div>
      <a class="text-white" href="home.html">Home</a>
    </div>
    <div>
      <a class="text-white" href="pastor.html">Pastor</a>
    </div>
    <div>
      <a class="text-white" href="congregation.html">Congregation</a>
    </div>
    <div>
      <a class="text-white" href="history.html">History</a>
    </div>
    <div>
      <a class="text-white" href="beliefs.html">Our Beliefs</a>
    </div>
    <div>
      <a class="text-white" href="doctrine.html">Doctrine</a>
    </div>
    <div>
      <a class="text-white" href="visit.html">Visit</a>
    </div>
  </div>
  
  <div class="col-md-4">
    <div>
      <a class="text-white" href="calendar.html">Calendar</a>
    </div>
    <div>
      <a class="text-white" href="bulletins.html">Bulletins & Announcements</a>
    </div>
    <div>
      <a class="text-white" href="classes.html">Bible Classes</a>
    </div>
    <div>
      <a class="text-white" href="confirmation.html">Confirmation</a>
    </div>
    <div>
      <a class="text-white" href="ushers.html">Ushers</a>
    </div>    
    <div>
      <a class="text-white" href="acolytes.html">Acolytes</a>
    </div>
    <div>
      <a class="text-white" href="choir.html">Choir</a>
    </div>
    <div>
      <a class="text-white" href="mentorship.html">Mentorship Program</a>
    </div>
    <div>
      <a class="text-white" href="missionary.html">Togo Missionary</a>
    </div>
    <div>
      <a class="text-white" href="officers.html">Officers</a>
    </div>
    <div>
      <a class="text-white" href="admin.html">Admin</a>
    </div>
  </div>
</div>