<nav id="headerNav" class="navbar navbar-expand-lg navbar-dark header_nav">
  <a class="navbar-brand text-white" href="home.html">Immanuel Lutheran Church</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white text-uppercase" href="#" id="navbarDropdownMenuLink_about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
          <i class="fas fa-chevron-circle-down ml-1" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="pastor.html">Pastor</a>
          <a class="dropdown-item" href="congregation.html">Congregation</a>
          <a class="dropdown-item" href="history.html">History</a>
          <a class="dropdown-item" href="beliefs.html">Our Beliefs</a>
          <a class="dropdown-item" href="doctrine.html">Doctrine</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase" href="visit.html">Visit</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white text-uppercase" href="#" id="navbarDropdownMenuLink_members" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Member Resources
          <i class="fas fa-chevron-circle-down ml-1" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="calendar.html">Calendar</a>
          <a class="dropdown-item" href="bulletins.html">Bulletins & Announcements</a>
          <a class="dropdown-item" href="classes.html">Bible Classes</a>
          <a class="dropdown-item" href="confirmation.html">Confirmation</a>
          <a class="dropdown-item" href="ushers.html">Ushers</a>
          <a class="dropdown-item" href="acolytes.html">Acolytes</a>
          <a class="dropdown-item" href="choir.html">Choir</a>
          <a class="dropdown-item" href="mentorship.html">Mentorship Program</a>
          <a class="dropdown-item" href="missionary.html">Togo Missionary</a>
          <a class="dropdown-item" href="officers.html">Officers</a>
           <a class="dropdown-item" href="sermons.html">Sermons</a>
        </div>
      </li>
    </ul>
  </div>
</nav>